.welcome-btn {
	display: inline-block;

	background: #FFFFFF;
	border: 2px solid $mainColor;

	font-size: 24px;
	line-height: 28px;
	color: #000000;

	padding: 20px 50px;

	&:hover {
		color: #fff;
		background-color: $mainColor;
		text-decoration: none;
	}
}


.mad-calc .btn:not(.with-text) {
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 0px;

	border: 2px solid #CA3C3F;
}
[class*=btn]>i {
	max-height: unset;
}
.qty-plus,
.qty-minus,
.mad-mobile-nav-btn {
	&:focus {
		outline: none;
	}
}
