.first-blcok {
	min-height: 540px;

	display: flex;
	justify-content: center;
	align-items: center;

	background: url("../images/breadcrumb.jpg") no-repeat center;
	background-size: cover;

	nav {
		display: flex;
		justify-content: center;
	}
	h1 {
		font-weight: bold;
		font-size: 48px;
		line-height: 58px;
		color: #FFFFFF;
	}
}

.breadcrumb {
	background: none;
	border-radius: 0px;
	padding: 0px;
	margin: 0px;
	padding-bottom: 20px;
	.breadcrumb-item  {
		font-size: 18px;
		line-height: 21px;
		color: #FFFFFF;
		a {
			font-size: inherit;
			line-height: inherit;
			color: inherit;
			padding-bottom: 4px;
			&:hover {
				color: #fff;
			}
		}
	}
}
.breadcrumb-item+.breadcrumb-item::before {
	content: "-";
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
}
