footer(class="footer")
	<div class="container">
		div(class="row justify-content-between pb-5 pb-lg-0")
			div(class="col-12 col-lg-4 pb-5 pb-lg-0")
				<a href="#" class="d-block pb-3">
					<img class="lazyload" data-src="images/logo-footer.svg" alt="img">
				</a>
				p(class="footer__description")
					| Значимость этих проблем настолько очевидна, что укрепление и развитие	
			div(class="col-12 col-lg-4")
				h2
					| Подписывайтесь
				div(class="social")
					a(href="#" class="social__item")
						<i class="social__img fab fa-facebook-f"></i>
					a(href="#" class=" social__item")
						<i class="social__img fab fa-twitter"></i>
					a(href="#" class="social__item")
						<i class="social__img fab fa-instagram"></i>
					a(href="#" class="social__item")
						<i class="social__img fab fa-youtube"></i>
	</div>
	div(class="container py-5")
		div(class="row py-5")
			div(class="col-12")
				ul(class="footer__navigation")
					li
						a(href="#")
							| Главная
					li
						a(href="#")
							| Каталог
					li
						a(href="#")
							| Доставка и оплата
					li
						a(href="#")
							| О компании
					li
						a(href="#")
							| Контакты
		div(class="row")
			div(class="col-12")
				<p class="copyrights text-center m-0">FoodMarket 2020 все права защищены</p>
