<div class="mad-d-none">
	<div id="search-modal" class="mad-modal mad-modal--search">
		<button type="button" class="arcticmodal-close"><i class="material-icons">close</i></button>
		<h4 class="mad-title">Search</h4>
		<form role="search" method="get" class="mad-searchform">
			<input type="text" name="s" placeholder="Type your keyword here">
			<button type="submit"><i class="material-icons">search</i></button>
		</form>
	</div>
</div>
<header id="mad-header" class="mad-header header_white mad-header--transparent">
	<div class="mad-header-section--sticky-xl">
		<div class="container">
			<div class="mad-header-items">
				<div class="mad-header-item">
					<a href="#" class="mad-logo">
						<img class="lazyload" data-src="images/logo-white.svg" alt="img">
					</a>
				</div>
				<nav class="mad-navigation-container">
					<ul class="mad-navigation mad-navigation--vertical-sm">
						<li class="menu-item menu-item-has-children current-menu-item"><a href="#">ГЛАВНАЯ</a></li>
						<li class="menu-item menu-item-has-children"><a href="#">КАТАЛОГ</a></li>
						<li class="menu-item menu-item-has-children mega-menu"><a href="#">ДОСТАВКА И ОПЛАТА</a></li>
						<li class="menu-item menu-item-has-children"><a href="#">КОНТАКТЫ</a></li>
					</ul>
					<div class="mad-actions">
						<div class="mad-item">
							<a href="#" class="mad-item-link"><i class="material-icons">person_outline</i></a>
						</div>
						<div class="mad-item mad-dropdown">
							<a href="#" type="button" class="mad-item-link mad-dropdown-title">
								<span class="mad-count">3</span>
								<i class="material-icons">shopping_cart</i>
							</a>
							<div class="shopping-cart mad-dropdown-element">
								<div class="mad-products mad-product-small">
									<div class="mad-col">
										<div class="mad-product">
											<button class="mad-close-item"><i class="licon-cross-circle"></i></button>
											<a href="#" class="mad-product-image">
												<img class="lazyload" data-src="images/72x72_img1.jpg" alt="img">
											</a>
											<div class="mad-product-description">
												<a href="#" class="mad-product-title mad-link">Tuna Roll</a>
												<span class="mad-product-price">1 × $7.99</span>
											</div>
										</div>
									</div>
									<div class="mad-col">
										<div class="mad-product">
											<button class="mad-close-item"><i class="licon-cross-circle"></i></button>
											<a href="#" class="mad-product-image">
												<img class="lazyload" data-src="images/72x72_img2.jpg" alt="img">
											</a>
											<div class="mad-product-description">
												<a href="#" class="mad-product-title mad-link">Yaki Niku Roll</a>
												<span class="mad-product-price">1 × $13.99</span>
											</div>
										</div>
									</div>
								</div>
								<div class="sc-footer">
									<div class="subtotal">Subtotal: $21.98</div>
									<a href="#" class="btn btn-small w-100"><span>Checkout</span> <i class="material-icons">arrow_right_alt</i></a>
								</div>
							</div>
						</div>
						<div class="mad-item">
							<a href="#" class="mad-item-link" data-arctic-modal="#search-modal"><i class="material-icons">search</i></a>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</header>
