.footer {
	min-height: 520px;
	background: url("../images/footer_bg 1.jpg") no-repeat bottom center!important;
	background-size: cover;

	padding-top: 50px!important;
	padding-bottom: 0px!important;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	padding: 0 230px;

	h2 {
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #000000;
		margin: 0px;
		padding-bottom: 26px;
	}

	@media (max-width: 1600px) {
		padding: 0px;
	}
}

.footer__description {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}


.footer__navigation {
	padding: 0px;
	margin: 0px;

	display: flex;
	align-items: center;
	justify-content: center;

	li {
		list-style: none;
		margin: 0 15px;
		a {
			color: $mainColor;
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 300;
			font-size: 18px;
			line-height: 21px;
			transition: $mainTransition;

			&:hover {
				color: #040a1c;
				transition: $mainTransition;
			}
		}
	}

	@media (max-width: 991px) {
		flex-direction: column;
	}
}

.copyrights {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
}

.social {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	.social__item {
		display: block;

		width: 50px;
		height: 50px;

		position: relative;
		overflow: hidden;
		border-radius: 10px;

		margin-right: 15px;
		margin-bottom: 15px;

		&:before,
		&:after  {
			content: "";
			display: block;
			width: 100%;
			height: 100%;


			position: absolute;
			top: 0px;
			left: 0px;
		}

		&:before {
			z-index: 1;

			transition: $mainTransition / 2;
			background-color: #e5e5e6;
		}
		&:after {
			z-index: 2;
			transition: $mainTransition / 2;
			transform: translateY(-100%);
			background: $mainColor;
		}

		&:hover {
			&:before {
				transform: translateY(-100%);
				transition: $mainTransition / 2;
			}
			&:after {
				transform: translateY(0%);
				transition: $mainTransition / 2;
			}
			.social__img {
				color: #fff;
				transition: $mainTransition;
			}
		}
	}
	.social__img {
		font-size: 32px;

		position: absolute;
		z-index: 3;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $mainColor;
		transition: $mainTransition;
	}
}
