doctype html
html(lang="ru")
	head
		
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="css/main.min.css")
		link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
		link(href="https://fonts.googleapis.com/css?family=Barlow:400,500,600,700,800,900%7CLato:300i,400,400i,700,700i,900&display=swap" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp" rel="stylesheet")
		title Project
	body
		div(id="mad-page-wrapper" class="mad-page-wrapper wide-style")
			include components/headerIner.pug
			block content
			include components/footer.pug
		script(src="js/main.min.js")
