extends baseIner.pug
block content
	- var title = "Каталог";
	include components/breadcrumb.pug
	div(class="mad-content")
		div(class="container")
			div(class="row")
				div(id="main" class="col-12")
					div(class="mad-tabs products")
						<div role="tablist" aria-label="Tour Sections v1" class="mad-tabs-nav justify-content-center">
							<span class="mad-active">
								<a id="tab-1-link" href="#tab-1" role="tab" aria-selected="false" aria-controls="tab-1" class="mad-tab-link">All Menu</a>
							</span>
							<span>
								<a id="tab-2-link" href="#tab-2" role="tab" aria-selected="false" aria-controls="tab-2" class="mad-tab-link">Sushi & Sashimi</a>
							</span>
							<span>
								<a id="tab-3-link" href="#tab-3" role="tab" aria-selected="true" aria-controls="tab-3" class="mad-tab-link">Sushi Rolls</a>
							</span>
							<span>
								<a id="tab-4-link" href="#tab-4" role="tab" aria-selected="false" aria-controls="tab-4" class="mad-tab-link">Hot Entrees</a>
							</span>
							<span>
								<a id="tab-5-link" href="#tab-5" role="tab" aria-selected="false" aria-controls="tab-5" class="mad-tab-link">Combo Platter</a>
							</span>
							<span>
								<a id="tab-6-link" href="#tab-6" role="tab" aria-selected="false" aria-controls="tab-6" class="mad-tab-link">Extras</a>
							</span>
							<span>
								<a id="tab-7-link" href="#tab-7" role="tab" aria-selected="false" aria-controls="tab-7" class="mad-tab-link">Desserts</a>
							</span>
							<span>
								<a id="tab-8-link" href="#tab-8" role="tab" aria-selected="false" aria-controls="tab-8" class="mad-tab-link">Drinks</a>
							</span>
						</div>
						<div class="product-sort-section">
							<div class="mad-col">
								<span>Showing 1–12 of 36 results</span>
							</div>
							<div class="mad-col">
								<div class="mad-custom-select size-2">
									<select data-default-text="Default sorting">
										<option>Option 1</option>
										<option>Option 2</option>
										<option>Option 3</option>
									</select>
								</div>
							</div>
						</div>
						div(class="mad-tabs-container")
							div(id="tab-1" tabindex="0" role="tabpanel" aria-labelledby="tab-1-link" class="mad-tab")
								div(class="mad-products item-col-4")
									<div class="mad-col">
										<!-- Product -->
										<div class="mad-product">
											<figure class="mad-product-image">
												<a href="#">
													<img src="images/238x239_img1.jpg" alt="">
												</a>
											</figure>
											<!-- product-desc -->
											<div class="mad-product-description">
												<h3 class="mad-product-title">
													<a href="#" class="mad-link">Salmon Roll</a>
												</h3>
												<span class="mad-product-info">240 g | 8 pieces | 420 kcal</span>
												<p>Salmon, avocado, cream cheese</p>
											</div>
											<!--/ product-desc -->
											<div class="mad-product-calc">
												<span class="mad-product-price">$11.99</span>
												<div class="mad-calc">
													<div class="quantity">
														<input type="text" value="1" readonly="">
														<button type="button" class="qty-plus"><i class="licon-plus"></i></button>
														<button type="button" class="qty-minus"><i class="licon-minus"></i></button>
													</div>
													<a href="#" class="btn"><i class="material-icons">shopping_cart</i></a>
												</div>
											</div>
										</div>
										<!-- End of Product -->
									</div>
							div(id="tab-2" tabindex="0" role="tabpanel" aria-labelledby="tab-2-link" class="mad-tab")
								div(class="mad-products item-col-4")
									<div class="mad-col">
										<!-- Product -->
										<div class="mad-product">
											<figure class="mad-product-image">
												<a href="#">
													<img src="images/238x239_img1.jpg" alt="">
												</a>
											</figure>
											<!-- product-desc -->
											<div class="mad-product-description">
												<h3 class="mad-product-title">
													<a href="#" class="mad-link">Salmon Roll</a>
												</h3>
												<span class="mad-product-info">240 g | 8 pieces | 420 kcal</span>
												<p>Salmon, avocado, cream cheese</p>
											</div>
											<!--/ product-desc -->
											<div class="mad-product-calc">
												<span class="mad-product-price">$11.99</span>
												<div class="mad-calc">
													<div class="quantity">
														<input type="text" value="1" readonly="">
														<button type="button" class="qty-plus"><i class="licon-plus"></i></button>
														<button type="button" class="qty-minus"><i class="licon-minus"></i></button>
													</div>
													<a href="#" class="btn"><i class="material-icons">shopping_cart</i></a>
												</div>
											</div>
										</div>
										<!-- End of Product -->
									</div>
									<div class="mad-col">
										<!-- Product -->
										<div class="mad-product">
											<figure class="mad-product-image">
												<a href="#">
													<img src="images/238x239_img1.jpg" alt="">
												</a>
											</figure>
											<!-- product-desc -->
											<div class="mad-product-description">
												<h3 class="mad-product-title">
													<a href="#" class="mad-link">Salmon Roll</a>
												</h3>
												<span class="mad-product-info">240 g | 8 pieces | 420 kcal</span>
												<p>Salmon, avocado, cream cheese</p>
											</div>
											<!--/ product-desc -->
											<div class="mad-product-calc">
												<span class="mad-product-price">$11.99</span>
												<div class="mad-calc">
													<div class="quantity">
														<input type="text" value="1" readonly="">
														<button type="button" class="qty-plus"><i class="licon-plus"></i></button>
														<button type="button" class="qty-minus"><i class="licon-minus"></i></button>
													</div>
													<a href="#" class="btn"><i class="material-icons">shopping_cart</i></a>
												</div>
											</div>
										</div>
										<!-- End of Product -->
									</div>
									<div class="mad-col">
										<!-- Product -->
										<div class="mad-product">
											<figure class="mad-product-image">
												<a href="#">
													<img src="images/238x239_img1.jpg" alt="">
												</a>
											</figure>
											<!-- product-desc -->
											<div class="mad-product-description">
												<h3 class="mad-product-title">
													<a href="#" class="mad-link">Salmon Roll</a>
												</h3>
												<span class="mad-product-info">240 g | 8 pieces | 420 kcal</span>
												<p>Salmon, avocado, cream cheese</p>
											</div>
											<!--/ product-desc -->
											<div class="mad-product-calc">
												<span class="mad-product-price">$11.99</span>
												<div class="mad-calc">
													<div class="quantity">
														<input type="text" value="1" readonly="">
														<button type="button" class="qty-plus"><i class="licon-plus"></i></button>
														<button type="button" class="qty-minus"><i class="licon-minus"></i></button>
													</div>
													<a href="#" class="btn"><i class="material-icons">shopping_cart</i></a>
												</div>
											</div>
										</div>
										<!-- End of Product -->
									</div>
							div(id="tab-3" tabindex="0" role="tabpanel" aria-labelledby="tab-3-link" class="mad-tab")
								div(class="mad-products item-col-4")
							div(id="tab-4" tabindex="0" role="tabpanel" aria-labelledby="tab-4-link" class="mad-tab")
								div(class="mad-products item-col-4")
							div(id="tab-5" tabindex="0" role="tabpanel" aria-labelledby="tab-5-link" class="mad-tab")
								div(class="mad-products item-col-4")
							div(id="tab-6" tabindex="0" role="tabpanel" aria-labelledby="tab-6-link" class="mad-tab")
								div(class="mad-products item-col-4")
							div(id="tab-7" tabindex="0" role="tabpanel" aria-labelledby="tab-7-link" class="mad-tab")
								div(class="mad-products item-col-4")
							div(id="tab-8" tabindex="0" role="tabpanel" aria-labelledby="tab-8-link" class="mad-tab")
								div(class="mad-products item-col-4")
