extends baseIner.pug
block content
	- var title = "Корзина";
	include components/breadcrumb.pug
	<div class="mad-content">
		<div class="container">
			<div class="content-element-15">
				<p class="mad-text-small mad-text-color-5">Required fields are followed by <span class="req">*</span></p>
				<!--================ Horizontal Table ================-->
				<div class="mad-table-wrap shop-cart-form style-2">
					<table class="mad-table--responsive-md">
						<thead>
							<tr class="bg">
								<th>Product</th>
								<th>Price</th>
								<th>Quantity</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr class="mad-product-item">
								<td data-cell-title="Product">
									<div class="mad-products mad-product-small">
										<div class="mad-col">
											<!-- Product -->
											<div class="mad-product">
												<a href="#" class="mad-product-image">
													<img class="lazyload" data-src="images/88x88_img26.jpg" alt="">
												</a>
												<!-- product-info -->
												<div class="mad-product-description">
													<h2 class="mad-product-title"><a href="#">King Oyster Roll</a></h2>
													<p>Kanimi, salmon, tuna, sea bass, furikake, tobiko, wasabi</p>
												</div>
												<!--/ product-info -->
											</div>
											<!-- End of Product -->
										</div>
									</div>
								</td>
								<td data-cell-title="Price"><span class="mad-product-price">$8.99</span></td>
								<td data-cell-title="Quantity">
									<div class="quantity">
										<input type="text" value="1" readonly="">
										<button type="button" class="qty-plus"><i class="licon-plus"></i></button>
										<button type="button" class="qty-minus"><i class="licon-minus"></i></button>
									</div>
								</td>
								<td class="shopping-cart-full" data-cell-title="Actions"><button class="mad-close-item">Remove</button></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!--================ End of Horizontal Table ================-->
			</div>
			<div class="content-element-15">
				<div class="row vr-size-5">
					<div class="col-lg-6">
						<div class="content-element-15">
							<form class="mad-contact-form type-2 size-2">
								<h2>Ваши контактные данные</h2>
								<div class="mad-col">
									<input class="mb-3 mb-lg-0 mr-3" type="text" placeholder="Ваше имя">
									<input type="tel" placeholder="Телефон">
								</div>
								<h2>Адрес доставки</h2>
								<div class="mad-col mb-5">
									<input class="mb-3 mb-lg-0 mr-3" type="text" placeholder="Адрес">
									<input type="text" placeholder="Комментарий">
								</div>
								button(type="submit" class="welcome-btn")
									| Отправить
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
