extends base.pug
block content
	div(class="welcome")
		div(class="welcome__slider owl-carousel")
			div(class="welcome__item")
				div(class="col-12 col-lg-6  justify-content-start order-2 order-lg-1")
					span(class="welcome__title")
						| Настоящая<br>японская кухня
					a(class="welcome-btn" href="#")
						| В каталог
				div(class="col-12 col-lg-6 order-1 order-lg-2 pb-5 pb-lg-0")
					img(class="lazyload welcome__img" data-src="images/rev_img1.png" alt="img")
			div(class="welcome__item")
				div(class="col-12 col-lg-6  justify-content-start order-2 order-lg-1")
					span(class="welcome__title")
						| Настоящая<br>японская кухня
					a(class="welcome-btn" href="#")
						| В каталог
				div(class="col-12 col-lg-6 order-1 order-lg-2 pb-5 pb-lg-0")
					img(class="lazyload welcome__img" data-src="images/rev_img1.png" alt="img")
		div(class="welcome__count")
			span(class="welcome__number")
				| 01
			span(class="welcome__number-max")
				| /00
		div(class="welcome__left d-none d-lg-block")
			| Крутите вниз
		div(class="welcome__right d-none d-lg-block")
			a(href="#")
				| В контакте
			a(href="#")
				| Instagram
	div(class="mad-content mad-content--no-pb")
		div(class="container")
			<div class="content-element-16">
				<div class="row col-xxl align-items-center row-reverse pb-5">
					<div class="col-xl-7">
						<div class="mad-offset-left welcome__block">
							<div class="mad-section-side-title top-space rotate">о компании</div>
							<h1 class="title">Мы делаем лучшие<br> роллы в Челябинске.</h1>
							<p class="description">Значимость этих проблем настолько очевидна, что укрепление и развитие структуры влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. </p>
							<a href="#" class="mad-read-more big-size">О компании</a>
						</div>
					</div>
					<div class="col-xl-5">
						<figure>
							<img class="lazyload" data-src="images/723x464_img1.jpg" alt="img">
						</figure>
					</div>
				</div>
				<div class="row col-xxl">
					<div class="col-xl-7">
						<figure class="mad-wave-item">
							<img class="lazyload" data-src="images/882x480_img1.jpg" alt="img">
						</figure>
					</div>
					<div class="col-xl-5">
						<div class="mad-offset-right with-top-space">
							<div class="mad-section-side-title top-space-2 right-side">Преимущества</div>
							<div class="mad-icon-boxes item-col-2">
								-for(var i = 0; i < 4; i++)
									<div class="mad-col">
										<article class="mad-icon-box">
											<i class="mad-icon-box-icon"><img class="svg lazyload" data-src="images/stones.svg" alt="img"></i>
											<div class="mad-icon-box-content">
												<h2 class="mad-icon-box-title">Преимущество 1</h2>
												<p>Значимость этих проблем настолько очевидна, что укрепление и развитие</p>
											</div>
										</article>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content-element-16">
				<div class="mad-offset">
					<div class="mad-section-side-title top-space rotate">From The Kitchen</div>
					<h2>Explore Our Menu</h2>
					<div class="mad-tabs products mad-tabs--tour-sections">
						<div role="tablist" aria-label="Tour Sections v1" class="mad-tabs-nav">
							<span class="mad-active">
								<a id="tab-1-link" href="#tab-1" role="tab" aria-selected="false" aria-controls="tab-1" class="mad-tab-link">Sushi & Sashimi</a>
							</span>
							<span>
								<a id="tab-2-link" href="#tab-2" role="tab" aria-selected="true" aria-controls="tab-2" class="mad-tab-link">Sushi Rolls</a>
							</span>
							<span>
								<a id="tab-3-link" href="#tab-3" role="tab" aria-selected="false" aria-controls="tab-3" class="mad-tab-link">Hot Entrees</a>
							</span>
							<span>
								<a id="tab-4-link" href="#tab-4" role="tab" aria-selected="false" aria-controls="tab-4" class="mad-tab-link">Combo Platter</a>
							</span>
							<span>
								<a id="tab-5-link" href="#tab-5" role="tab" aria-selected="false" aria-controls="tab-5" class="mad-tab-link">Extras</a>
							</span>
							<span>
								<a id="tab-6-link" href="#tab-6" role="tab" aria-selected="false" aria-controls="tab-6" class="mad-tab-link">Desserts</a>
							</span>
							<span>
								<a id="tab-7-link" href="#tab-7" role="tab" aria-selected="false" aria-controls="tab-7" class="mad-tab-link">Drinks</a>
							</span>
							<span>
								<a href="#"  >View All Menu</a>
							</span>
						</div>
						<div class="mad-tabs-container">
							<div id="tab-1" tabindex="0" role="tabpanel" aria-labelledby="tab-1-link" class="mad-tab">
								<div class=" owl-carousel mad-grid mad-products mad-grid--cols-4 nav-top nav-style-2">
									<div class="mad-grid-item">
									
										<div class="mad-product">
											<figure class="mad-product-image">
												<a href="#">
													<img class="lazyload" data-src="images/238x239_img1.jpg" alt="img">
												</a>
											</figure>
											<div class="mad-product-description">
												<h3 class="mad-product-title"><a href="#" class="mad-link">Salmon Roll</a></h3>
												<span class="mad-product-info">240 g | 8 pieces | 420 kcal</span>
												<p>Salmon, avocado, cream cheese</p>
											</div>
											<div class="mad-product-calc">
												<span class="mad-product-price">$11.99</span>
												<div class="mad-calc">
													<div class="quantity">
														<input type="text" value="1" readonly="">
														<button type="button" class="qty-plus"><i class="licon-plus"></i></button>
														<button type="button" class="qty-minus"><i class="licon-minus"></i></button>
													</div>
													<a href="#" class="btn"><i class="material-icons">shopping_cart</i></a>
												</div>
											</div>
										</div>
										
									</div>
								</div>
							</div>
							<div id="tab-2" tabindex="0" role="tabpanel" aria-labelledby="tab-2-link" class="mad-tab">
								<div class="carousel__products owl-carousel mad-grid mad-products mad-grid--cols-4 nav-top nav-style-2">
								
									<div class="mad-product">
										<figure class="mad-product-image">
											<a href="#">
												<img class="lazyload" data-src="images/238x239_img1.jpg" alt="img">
											</a>
										</figure>
										<div class="mad-product-description">
											<h3 class="mad-product-title"><a href="#" class="mad-link">Salmon Roll</a></h3>
											<span class="mad-product-info">240 g | 8 pieces | 420 kcal</span>
											<p>Salmon, avocado, cream cheese</p>
										</div>
										<div class="mad-product-calc">
											<span class="mad-product-price">$11.99</span>
											<div class="mad-calc">
												<div class="quantity">
													<input type="text" value="1" readonly="">
													<button type="button" class="qty-plus"><i class="licon-plus"></i></button>
													<button type="button" class="qty-minus"><i class="licon-minus"></i></button>
												</div>
												<a href="#" class="btn"><i class="material-icons">shopping_cart</i></a>
											</div>
										</div>
									</div>
								
								</div>
							</div>
							<div id="tab-3" tabindex="0" role="tabpanel" aria-labelledby="tab-3-link" class="mad-tab">
								<div class=" carousel__products owl-carousel mad-grid mad-products mad-grid--cols-4 nav-top nav-style-2">
									
									<div class="mad-product">
										<figure class="mad-product-image">
											<a href="#">
												<img class="lazyload" data-src="images/238x239_img1.jpg" alt="img">
											</a>
										</figure>
										<div class="mad-product-description">
											<h3 class="mad-product-title"><a href="#" class="mad-link">Salmon Roll</a></h3>
											<span class="mad-product-info">240 g | 8 pieces | 420 kcal</span>
											<p>Salmon, avocado, cream cheese</p>
										</div>
										<div class="mad-product-calc">
											<span class="mad-product-price">$11.99</span>
											<div class="mad-calc">
												<div class="quantity">
													<input type="text" value="1" readonly="">
													<button type="button" class="qty-plus"><i class="licon-plus"></i></button>
													<button type="button" class="qty-minus"><i class="licon-minus"></i></button>
												</div>
												<a href="#" class="btn"><i class="material-icons">shopping_cart</i></a>
											</div>
										</div>
									</div>
									
								</div>
							</div>
							<div id="tab-4" tabindex="0" role="tabpanel" aria-labelledby="tab-4-link" class="mad-tab">
								<div class="carousel__products owl-carousel mad-grid mad-products mad-grid--cols-4 nav-top nav-style-2">
								
									<div class="mad-product">
										<figure class="mad-product-image">
											<a href="#">
												<img class="lazyload" data-src="images/238x239_img1.jpg" alt="img">
											</a>
										</figure>
										<div class="mad-product-description">
											<h3 class="mad-product-title"><a href="#" class="mad-link">Salmon Roll</a></h3>
											<span class="mad-product-info">240 g | 8 pieces | 420 kcal</span>
											<p>Salmon, avocado, cream cheese</p>
										</div>
										<div class="mad-product-calc">
											<span class="mad-product-price">$11.99</span>
											<div class="mad-calc">
												<div class="quantity">
													<input type="text" value="1" readonly="">
													<button type="button" class="qty-plus"><i class="licon-plus"></i></button>
													<button type="button" class="qty-minus"><i class="licon-minus"></i></button>
												</div>
												<a href="#" class="btn"><i class="material-icons">shopping_cart</i></a>
											</div>
										</div>
									</div>
									
								</div>
							</div>
							<div id="tab-5" tabindex="0" role="tabpanel" aria-labelledby="tab-5-link" class="mad-tab">
								<div class="carousel__products owl-carousel mad-grid mad-products mad-grid--cols-4 nav-top nav-style-2">
								
									<div class="mad-product">
										<figure class="mad-product-image">
											<a href="#">
												<img class="lazyload" data-src="images/238x239_img1.jpg" alt="img">
											</a>
										</figure>
										<div class="mad-product-description">
											<h3 class="mad-product-title"><a href="#" class="mad-link">Salmon Roll</a></h3>
											<span class="mad-product-info">240 g | 8 pieces | 420 kcal</span>
											<p>Salmon, avocado, cream cheese</p>
										</div>
										<div class="mad-product-calc">
											<span class="mad-product-price">$11.99</span>
											<div class="mad-calc">
												<div class="quantity">
													<input type="text" value="1" readonly="">
													<button type="button" class="qty-plus"><i class="licon-plus"></i></button>
													<button type="button" class="qty-minus"><i class="licon-minus"></i></button>
												</div>
												<a href="#" class="btn"><i class="material-icons">shopping_cart</i></a>
											</div>
										</div>
									</div>
								
								</div>
							</div>
							<div id="tab-6" tabindex="0" role="tabpanel" aria-labelledby="tab-6-link" class="mad-tab">
								<div class="carousel__products owl-carousel mad-grid mad-products mad-grid--cols-4 nav-top nav-style-2">
								
									<div class="mad-product">
										<figure class="mad-product-image">
											<a href="#">
												<img class="lazyload" data-src="images/238x239_img1.jpg" alt="img">
											</a>
										</figure>
										<div class="mad-product-description">
											<h3 class="mad-product-title"><a href="#" class="mad-link">Salmon Roll</a></h3>
											<span class="mad-product-info">240 g | 8 pieces | 420 kcal</span>
											<p>Salmon, avocado, cream cheese</p>
										</div>
										<div class="mad-product-calc">
											<span class="mad-product-price">$11.99</span>
											<div class="mad-calc">
												<div class="quantity">
													<input type="text" value="1" readonly="">
													<button type="button" class="qty-plus"><i class="licon-plus"></i></button>
													<button type="button" class="qty-minus"><i class="licon-minus"></i></button>
												</div>
												<a href="#" class="btn"><i class="material-icons">shopping_cart</i></a>
											</div>
										</div>
									</div>
								
								</div>
							</div>
							<div id="tab-7" tabindex="0" role="tabpanel" aria-labelledby="tab-7-link" class="mad-tab">
								<div class="carousel__products owl-carousel mad-grid mad-products mad-grid--cols-4 nav-top nav-style-2">
								
									<div class="mad-product">
										<figure class="mad-product-image">
											<a href="#">
												<img class="lazyload" data-src="images/238x239_img1.jpg" alt="img">
											</a>
										</figure>
										<div class="mad-product-description">
											<h3 class="mad-product-title"><a href="#" class="mad-link">Salmon Roll</a></h3>
											<span class="mad-product-info">240 g | 8 pieces | 420 kcal</span>
											<p>Salmon, avocado, cream cheese</p>
										</div>
										<div class="mad-product-calc">
											<span class="mad-product-price">$11.99</span>
											<div class="mad-calc">
												<div class="quantity">
													<input type="text" value="1" readonly="">
													<button type="button" class="qty-plus"><i class="licon-plus"></i></button>
													<button type="button" class="qty-minus"><i class="licon-minus"></i></button>
												</div>
												<a href="#" class="btn"><i class="material-icons">shopping_cart</i></a>
											</div>
										</div>
									</div>
								
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content-element-16 section-margin-bottom">
				<div class="mad-offset-left">
					<div class="mad-section-side-title top-space rotate">Only 4 Steps</div>
					<h2>How to Order Online</h2>
					<span class="mad-word">
						<img class="lazyload" data-src="images/word.png" alt="img">
					</span>
				</div>
				<!--================ Icon Boxes ================-->
				<div class="mad-icon-boxes type-2 item-col-4 no-bottom-space mad-offset-left">
					<div class="mad-col">
						<!--================ Icon Box ================-->
						<article class="mad-icon-box">
							<i class="mad-icon-box-icon">
								<img class="svg lazyload" data-src="images/cart.svg" alt="img">
							</i>
							<div class="mad-icon-box-content">
								<h3 class="mad-icon-box-title mad-icon-box-title_step">01. Add Items to Your Cart</h3>
								<p>Select preferred meal from our menu <br> and add to the delivery cart.</p>
							</div>
						</article>
						<!--================ End of Icon Box ================-->
					</div>
					<div class="mad-col">
						<!--================ Icon Box ================-->
						<article class="mad-icon-box with-arrow-down">
							<i class="mad-icon-box-icon">
								<img class="svg lazyload" data-src="images/cards.svg" alt="img">
							</i>
							<div class="mad-icon-box-content">
								<h3 class="mad-icon-box-title mad-icon-box-title_step">02. Checkout Online</h3>
								<p>Login or register and place the order by easy <br> paying online.</p>
							</div>
						</article>
						<!--================ End of Icon Box ================-->
					</div>
					<div class="mad-col mad-col-x2">
						<figure>
							<img class="lazyload" data-src="images/723x432_img1.jpg" alt="img">
						</figure>
					</div>
					<div class="mad-col">
						<figure class="left-offset">
							<img class="lazyload" data-src="images/405x336_img1.jpg" alt="img">
						</figure>
					</div>
					<div class="mad-col">
						<!--================ Icon Box ================-->
						<article class="mad-icon-box">
							<i class="mad-icon-box-icon">
								<img class="svg lazyload" data-src="images/truck.svg" alt="img">
							</i>
							<div class="mad-icon-box-content">
								<h3 class="mad-icon-box-title mad-icon-box-title_step">03. Your Order is On Its Way</h3>
								<p>Once we get the paid order we will prepare it <br> and deliver to your door.</p>
							</div>
						</article>
						<!--================ End of Icon Box ================-->
					</div>
					<div class="mad-col">
						<!--================ Icon Box ================-->
						<article class="mad-icon-box">
							<i class="mad-icon-box-icon">
								<img class="svg lazyload" data-src="images/food_box.svg" alt="img">
							</i>
							<div class="mad-icon-box-content">
								<h3 class="mad-icon-box-title mad-icon-box-title_step">04. Enjoy Your Meal</h3>
								<p>Just relax and enjoy your meal at the comfort <br> of your home.</p>
							</div>
						</article>
						<!--================ End of Icon Box ================-->
					</div>
				</div>
				<!--================ End of Icon Boxes ================-->
			</div>
