extends baseIner.pug
block content
	- var title = "Ролл бонито";
	include components/breadcrumb.pug
	<div class="mad-content">
		<div class="container">
			<div class="row hr-size-21">
				<main id="main" class="col-12 col-xl-8 offset-xl-2">
					<div class="mad-products mad-product-single">
						<div class="image-preview-container">
							<!-- - - - - - - - - - - - - - Image Preview Container - - - - - - - - - - - - - - - - -->
							<div class="image-preview">
								<a href="images/880x560_img1.jpg" data-zoom-image="images/880x560_img1.jpg" data-fancybox="group">
									<img id="zoom-image" class="lazyload" data-src="images/880x560_img1.jpg" alt="img">
								</a>
							</div>
							<!-- - - - - - - - - - - - - - End of Image Preview Container - - - - - - - - - - - - - - - - -->
						</div>
						<!-- product-info -->
						<div class="mad-product-description">
							<h2 class="mad-product-title">Salmon Roll</h2>
							<p>Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat.</p>
						</div>
						<!--/ product-info -->
						<div class="mad-product-calc">
							<span class="mad-product-price"><i>Price:</i> $11.99</span>
							<div class="mad-calc">
								<div class="quantity">
									<input type="text" value="1" readonly="">
									<button type="button" class="qty-plus"><i class="licon-plus"></i></button>
									<button type="button" class="qty-minus"><i class="licon-minus"></i></button>
								</div>
								<a href="#" class="btn with-text"><i class="material-icons">shopping_cart</i><span>Add to Cart</span></a>
							</div>
						</div>
						<div class="mad-product-info">
							<div class="row">
								<div class="col-sm-4">
									<h3 class="mad-product-info__title">Ingredients</h3>
									<ul>
										<li>Salmon</li>
										<li>Avocado</li>
										<li>Cream cheese</li>
										<li>Sweet sauce</li>
									</ul>
								</div>
								<div class="col-sm-4">
									<h3 class="mad-product-info__title">Portion Size</h3>
									<ul>
										<li>240 g</li>
										<li>8 pieces</li>
									</ul>
								</div>
								<div class="col-sm-4">
									<h3 class="mad-product-info__title">Nutritional</h3>
									<ul>
										<li>Calories: <span>420 kcal</span></li>
										<li>Cholesterol: <span>45 mg</span></li>
										<li>Fiber: <span>7 g</span></li>
										<li>Sodium: <span>55 g</span></li>
										<li>Carbohydrates: <span>40 g</span></li>
										<li>Fat: <span>5 g</span></li>
										<li>Protein: <span>46 g</span></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="mad-page-nav d-none d-lg-flex">
							<div class="mad-nav-left">
								<figure>
									<a href="#">
										<img class="lazyload" data-src="images/88x88_img24.jpg" alt="">
									</a>
								</figure>
								<div class="nav-actions">
									<div class="nav-post">Previous</div>
									<h3>
										<a href="#" class="mad-link">Udon Noodles</a>
									</h3>
								</div>
							</div>
							<div class="mad-nav-right">
								<figure>
									<a href="#">
										<img class="lazyload" data-src="images/88x88_img25.jpg" alt="">
									</a>
								</figure>
								<div class="nav-actions">
									<div class="nav-post">Next</div>
									<h3>
										<a href="#" class="mad-link">Tuna Roll</a>
									</h3>
								</div>
							</div>
						</div>
					</div>
					<div class="content-element-15">
						<h2>You Might Also Like</h2>
						<div class="mad-products item-col-3">
						<div class="mad-col">
							<!-- Product -->
							<div class="mad-product">
								<figure class="mad-product-image">
									<a href="#">
										<img class="lazyload" data-src="images/238x239_img1.jpg" alt="">
									</a>
								</figure>
								<!-- product-desc -->
								<div class="mad-product-description">
									<h3 class="mad-product-title"><a href="#" class="mad-link">Salmon Roll</a></h3>
									<span class="mad-product-info">240 g | 8 pieces | 420 kcal</span>
									<p>Salmon, avocado, cream cheese</p>
								</div>
								<!--/ product-desc -->
								<div class="mad-product-calc">
									<span class="mad-product-price">$11.99</span>
									<div class="mad-calc">
										<div class="quantity">
											<input type="text" value="1" readonly="">
											<button type="button" class="qty-plus"><i class="licon-plus"></i></button>
											<button type="button" class="qty-minus"><i class="licon-minus"></i></button>
										</div>
										<a href="#" class="btn"><i class="material-icons">shopping_cart</i></a>
									</div>
								</div>
							</div>
							<!-- End of Product -->
						</div>
						<div class="mad-col">
							<!-- Product -->
							<div class="mad-product">
								<figure class="mad-product-image">
									<a href="#">
										<img class="lazyload" data-src="images/238x239_img2.jpg" alt="">
									</a>
								</figure>
								<!-- product-desc -->
								<div class="mad-product-description">
									<h3 class="mad-product-title"><a href="#" class="mad-link">Tuna Roll</a></h3>
									<span class="mad-product-info">200 g | 6 pieces | 360 kcal</span>
									<p>Crunchy rice, tuna tartare, negi, aonori</p>
								</div>
								<!--/ product-desc -->
								<div class="mad-product-calc">
									<span class="mad-product-price">$7.99</span>
									<div class="mad-calc">
										<div class="quantity">
											<input type="text" value="1" readonly="">
											<button type="button" class="qty-plus"><i class="licon-plus"></i></button>
											<button type="button" class="qty-minus"><i class="licon-minus"></i></button>
										</div>
										<a href="#" class="btn"><i class="material-icons">shopping_cart</i></a>
									</div>
								</div>
							</div>
							<!-- End of Product -->
						</div>
						<div class="mad-col">
							<!-- Product -->
							<div class="mad-product">
								<figure class="mad-product-image">
									<a href="#">
										<img class="lazyload" data-src="images/238x239_img3.jpg" alt="">
									</a>
								</figure>
								<!-- product-desc -->
								<div class="mad-product-description">
									<h3 class="mad-product-title"><a href="#" class="mad-link">Yaki Niku Roll</a></h3>
									<span class="mad-product-info">240 g | 8 pieces | 420 kcal</span>
									<p>Avocado, cucumber, shiso, asparagus, carrot, rucola</p>
								</div>
								<!--/ product-desc -->
								<div class="mad-product-calc">
									<span class="mad-product-price">$13.99</span>
									<div class="mad-calc">
										<div class="quantity">
											<input type="text" value="1" readonly="">
											<button type="button" class="qty-plus"><i class="licon-plus"></i></button>
											<button type="button" class="qty-minus"><i class="licon-minus"></i></button>
										</div>
										<a href="#" class="btn"><i class="material-icons">shopping_cart</i></a>
									</div>
								</div>
							</div>
							<!-- End of Product -->
						</div>
						</div>
					</div>
				</main>
			</div>
		</div>
	</div>
