/* INCLUD SASS */
@import "node_modules/bootstrap/scss/bootstrap.scss";

@import "template/fontawesome-all.min.css";
// @import "template/bootstrap.min.css";
@import "template/animate.min.css";
@import "template/linearicons.css";
@import "template/owl.carousel.min.css";
@import "template/jquery.fancybox.min.css";
@import "template/jquery.arcticmodal-0.3.css";
@import "template/settings.css";
@import "template/layers.min.css";
@import "template/navigation.min.css";
@import "template/style.css";
@import "template/responsive.css";

@import "default/_default";
@import "header/_header";
@import "button/_button";
@import "breadcrumb/_breadcrumb";
@import "form/_form";
// @import "modalWindow/_modal";
@import "footer/_footer";

body {
	font-family: Gilroy;
}
.mad-icon-box .mad-icon-box-title,
.mad-section-side-title,
h1, h2, h3, h4, h5, h6,
.mad-tabs:not(.mad-tabs--unstyled) .mad-tabs-nav,
.mad-read-more,
.mad-product-price,
.shopping-cart .mad-products.mad-product-small .mad-product .mad-product-description .mad-product-price {
	font-family: Gilroy;
}
[class*=btn]>i {
	line-height: 100%;
}

.section-margin-bottom {
	margin-bottom: 80px;
}

.row:not(.no-gutters)>[class*=col-] {
	padding-bottom: 0px!important;
}

.welcome__block h1 {
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 74px;
	color: #000000;

	@media (max-width: 991px) {
		font-size: 28px;
		line-height: 120%;
	}
}
.welcome__block p {
	font-size: 18px;
	line-height: 21px;
	color: #7E6F7C;

	margin-bottom: 50px;
}

.mad-read-more {
	color: $mainColor;
	transition: $mainTransition;
	&:hover {
		color: #040a1c;
		transition: $mainTransition;
	}
}
.mad-products:not(.mad-product-small) .mad-product {
	@media (max-width: 1700px) {
		padding: 15px;
	}
}
.mad-product-calc {
	@media (max-width: 1700px) {
		display: flex;
		flex-direction: column;
	}
}
.mad-icon-box .mad-icon-box-title {
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
	&.mad-icon-box-title_step {
		font-size: 18px;
		line-height: 24px;
		font-weight: normal;
	}
}


.welcome {
	background-color: #F8F8F8;
	position: relative;

	width: 100vw;
	min-height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 60px;

	@media (max-width: 991px) {
		padding: 60px 15px;
	}
}
.welcome__slider {
	padding: 0px 180px;
	height: 100%;
	position: unset;
	.owl-dots {
		position: absolute;
		bottom: 60px;
		left: 240px;
		button.owl-dot {
			width: 140px;
			height: 3px;
			background-color: #C8C8C8;
			&:focus {
				outline: none;
			}
			&.active {
				background-color: $mainColor;
			}
			@media (max-width: 991px) {
				width: 60px;
			}
		}
		@media (max-width: 991px) {
			left: 15px;
			bottom: 15px;
		}
	}
	@media (max-width: 991px) {
		padding: 0px;
	}
}
.welcome__item {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.welcome__left {
	position: absolute;
	left: 0px;
	bottom: 95px;


	font-size: 14px;
	line-height: 16px;

	color: #8A8A92;

	transform: rotate(-90deg);
}
.welcome__right {
	position: absolute;
	right: 0px;
	bottom: 125px;

	transform: rotate(90deg);

	a {
		font-size: 14px;
		line-height: 16px;
		color: #000000;
		margin-right: 10px;
		&:last-child {
			margin: 0px;
		}
		&:hover {
			color: $mainColor;
		}
	}
}
.welcome__title {
	display: block;
	font-size: 72px;
	line-height: 84px;

	color: #000000;
	padding-bottom: 40px;
	@media (max-width: 991px) {
		font-size: 28px;
		line-height: 100%;
	}
}
.welcome__img {
	max-width: 100%;
	width: unset;
}
.welcome__count {
	position: absolute;
	bottom: 80px;
	left: 240px;

	font-size: 14px;
	line-height: 16px;
	color: #8A8A92;
	@media (max-width: 991px) {
		left: 15px;
		bottom: 30px;
	}
}




.mad-page-nav {
	border-top: 1px solid #e9dfcd;
	padding-top: 30px;
}
.mad-product-description p {
	font-size: 18px;
	line-height: 21px;
	color: #7E6F7C;
}

.mad-product-calc .mad-calc .btn {
	border-radius: 0px;
	border: 1px solid #ca3c3f;
	display: flex;
	align-items: center;
}
.mad-page-nav>[class*=mad-nav-] {
	max-width: 50%;
}

.nav-actions {
	.mad-link, .mad-text-link {
		font-size: 20px;
		line-height: 28px;
		font-weight: bold;
	}
}

.mad-link:hover {
	text-decoration: none;
}

.mad-product-title a {
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	/* identical to box height */


	color: #000000;
}


.mad-product-info__title {
	font-size: 1.25rem;
}
