.mad-logo {
	@media (min-width: 992px) and (max-width: 1300px) {
		width: 200px;
	}
}
.mad-navigation-container {
	@media (min-width: 992px) and (max-width: 1199px) {
		width: 100%;
		justify-content: space-between;
	}
}

.mad-header {
	&.header_white {
		.mad-navigation>li>a {
			color: #fff;
		}
		.mad-navigation>li.current-menu-item>a::before,
		.mad-navigation>li:hover>a::before {
			background: #fff;
		}
		.mad-actions .mad-item-link i {
			color: #fff;
		}
		.mad-header-section--sticked {
			background: #040a1c;
		}
		@media (max-width: 991px) {
			background: #040a1c;
		}
		&.mad-header--transparent:not(.header-white):not(.header-1) {
			@media only screen and (max-width: 1480px) {
				background: #040a1c;
			}
		}
	}
	.mad-header-section--sticked {
		padding: 10px 0px;
	}
}
.mad-dropdown-element.shopping-cart {
	margin-top: 1.8rem;
	@media (max-width: 991px) {
		margin-top: 0px;
	}
}




.menu-item.menu-item-has-children a:hover {
	text-decoration: none;
}
@media (max-width: 786px) {
	.mad-header {
		padding: 20px 0px;
	}
	.mad-header .mad-mobile-nav-btn {
		display: inline-block;
		z-index: 99;
		position: relative;
	}
	.mad-navigation {
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
	}
	.mad-navigation--vertical-sm {
		text-align: center;
		background: #f5f6f7;
	}
	.mad-navigation--vertical-sm>li>a {
		display: block;
		padding-top: 1rem;
		padding-bottom: 1rem;
		padding-left: .9375rem;
		padding-right: .9375rem;
		background: #b5945b;
	}
	.mad-navigation--vertical-sm>li,
	.mad-navigation:not(.side-menu) {
		display: block;
		margin: 0;
	}
	.mad-navigation:not(.side-menu)>li.current-menu-item>a {
		background: #282f40;
		color: #fff;
	}
}
.mad-header:not(.style-2) .mad-navigation-container {
	@media (max-width: 786px) {
		flex-direction: row;
	}
}

.mad-searchform button[type="submit"]{
	display: flex;
	justify-content: center;
	align-items: center;
}
